body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

#body-wrapper {
	height: 100vh;
	display: grid;
	grid-template-rows: max-content 1fr;
	color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

:root {
	--header-color: #ff8d2f;
	--header-text: white;
	--black: #333333;
	--light-grey: #eeeeee;
	--button-hover: #b6b6b6;
	--shadow: #00000050;
	--hovering: #ffd1a6;
}

header {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	background-color: var(--header-color);
	color: var(--header-text);
	padding: 0.5rem 1rem;
}

header img {
	margin-left: auto;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
	gap: 1rem;
}

/* Notes */
.note {
	padding: 1rem;
	margin: 1rem;
	box-shadow: 0rem 0.2rem 0.3rem var(--shadow);
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.note-buttons {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 0.5rem;
}

/* .note-buttons button {
	display: block;
	margin-left: auto;
} */

/* Note left panel section */
.left-panel {
	display: grid;
	grid-template-rows: max-content 1fr;
	gap: 1rem;
	max-height: inherit;
}

/* #staging-notes {
	min-height: 400px;
} */

textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* #staging-area {
	max-height: inherit;
} */

#note-creator {
	width: 300px;
	height: 200px;
	resize: none;
}

/* Container right panel section */
/* #container-container {
	overflow-y: scroll;
} */

.container {
	min-height: 100px;
	border-bottom: 0.25rem solid var(--header-color);
	margin-bottom: 1rem;
	transition: background-color 0.2s;
}

.hovering {
	background-color: var(--hovering);
}

#form-new-container {
	width: max-content;
	margin: auto;
}

#form-new-container input {
	/* outline: none; */
	border: none;
	background-color: var(--light-grey);
}

input {
	border-radius: 100px;
	padding: 1rem 1.5rem;
}

button {
	background-color: var(--light-grey);
	border: none;
	border-radius: 0.5rem;
	/* outline: none; */
	padding: 0.5rem 1rem;
	transition: background-color 0.2s;
}

button:hover {
	background-color: var(--button-hover);
}

/* dummy note */
#dummy-note {
	width: 40%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	margin: 0;
	transform: translate(-50%, -50%);
	pointer-events: none;
	opacity: 0;
}
